/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
}

/* Set a base font size and family */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: #000;
  color: #fff;
  background-image: url('1.8X.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  height: 100%;
}

/* Center content of the main tag horizontally and vertically */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 30px); Full viewport height minus footer height */
  text-align: center;
  flex-direction: column;
  /* padding-top: 120px; Increase padding to push down content below header */
  /* padding: 20px; Add padding inside the main box */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Subtle shadow for depth */
  box-sizing: border-box;
}

/* Mobile single column */
ul {
  columns: 1;
}
li {
  list-style: none;
}

/* Style dl content in one block with each dt/dd as a row */
dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


  /* Ensure dt and dd are in the same row */
  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

dt {
  width: 25%;
  font-weight: bold;
  text-align: right;
  /* width: 50%; Details take up 50% of the width */
  /* width: 50%; Labels take up 50% of the width */
  white-space: nowrap;

  /* Modern button styles for hyperlinks in dt tags */
  a {
    display: inline-block;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #6a11cb, rgb(39, 117, 252));
    border: none;
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 200%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      transform: skewX(-45deg);
      transition: all 0.5s ease;
    }
    &:hover::before {
      left: 100%;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
    &:active {
      transform: scale(0.95);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

dd {
  text-align: left;
  line-height: 1.1em;
  width: 75%;

  strong {
    display: block;
    margin: 0.2rem 0.2rem 0.2rem 0;
  }

  small {
    color: var(--light-gray)
  }
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

span, svg {
  vertical-align: middle;
  display: inline-block;
  /* margin: 0 0.25em 0 0; */
  margin: 0.25rem;
  pointer-events: none;
}

/* Add some basic styling for lists
ul, ol {
  list-style: none;
  padding-left: 20px;
} */

/* Add some basic styling for tables
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
} */


/* Container for dl with background and blur effect */
.body-container {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 20rem;
  margin: 0 auto 0;

  > p:first-of-type, h2 {
    margin: 0 auto;
    line-height: 1.5rem;
    text-align: center;
    opacity: 0.8;
  }

  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* Add vendor prefixes for flexbox */
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.round1, .round2, .round3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.round00 {
  margin-left: 0.1em;
  margin-right: 0.1em;
}
.round0 {
  margin-left: 0.15em;
  margin-right: 0.15em;
}
.round1 {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.round2 {
  margin-left: 0.35em;
  margin-right: 0.35em;
}
.round3 {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

/* Newsletter block */
.newsletter {
  width: 18.5em;
  height: 9em;
  overflow: hidden;
  margin: 1em auto 0;
}
.newsletter hr {
  margin-bottom: 0.5em;
  border-color: var(--muted-blue);
}
.newsletter h4 {
  margin-bottom: -3em;
}
/*.discord {
  margin-top: 40px;
}*/
.support {
  margin: 0.7em 0 0;
}
.support span {
  position: relative;
  top: -0.6em;
}
.support strong {
  margin-right: 1em;
  color: #bbb;
}
.thanks {
  color: #fff;
}

/* Add vendor prefixes for transitions */
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Add vendor prefixes for transforms */
.transform {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Right-positioning override */
.LinkedIn-FollowCompany {
  bottom: 1.35rem;
  right: 1.45rem;
}

/* Media query for narrow viewports */
@media (max-width: 600px) {
  dt {
    /* width: 100%;Full width for both dt and dd */
    text-align: center;
  }
  body {
    overflow-x: auto;
  }
}

/* Media query for portrait tablet viewports */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 1rem;
    background-attachment: fixed;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  dt {
    margin-bottom: -0.25em;
    padding-bottom: 0;
  }

  .tagline {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  /*.body-container {
    width: 22em;
    padding: 0.5rem;
  }*/

  /* .social-link {
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

  .link-text {
    margin-top: 0.5rem;
  }

  dt a {
    font-size: 1.1rem;
    padding: 0.5rem;
  }
}

/* Tablet and larger screens */
@media screen and (min-width: 768px) {
  body {
    padding: 0 2rem 2rem 2rem;
  }

  ul {
    columns: 2;
  }

  .body-container {
    width: 37rem;
    /* max-width: 800px; */
    margin: 0 auto 0;
    padding: 20px;
  }
}

/* Media query for larger tablet viewports */
/* @media (max-width: x1024px) {
  .body-container {
    width: 90%; Expand width to 80% on larger tablet viewports
  }
} */

/* Media query for short and narrow browsers */
/* @media only screen and (max-width: 600px) {
  main {
    padding-top: 150px; Increase padding to push content down for short and narrow browsers
  }
} */

@media only screen and (min-width: 600px) {
  dt, dd {
    padding: 0.1em 0 0.1em 0;
  }
  dd {
    padding-left: 0.5rem;
  }
}
