/** Page adaptations **/

body {
  font-family: 'Roboto', Arial, sans-serif; /* Updated to use Roboto */
  font-size: 18px; /* Increased base font size */
  line-height: 1.6;
  background-color: #706c7a; /* Via bottom of clouds */
  background-image: url('1.8X.webp'); /* Add background image */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  overflow-x: hidden; /* Hide horizontal scrollbar by default */
  overflow-y: auto; /* Allow vertical scrollbar when needed */
  margin: 0 5rem;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

header, main {
  display: block;
}

header, footer {
  color: #fff;
}

header, h1, h2, footer, .copyright, .player {
  text-align: center;
}

header{
  > img:first-child {
    display: block;
    width: 100%;
    max-width: 768px; /* 3/4 of 1024 */
    margin: 0 auto 1.5em;
    border-radius: 10px;
  }

  h1 {
    line-height: 2.5rem;
  }

  p {
    font-size: 1.4rem;
    font-style: italic;
    color: #aaa;
  }
}

footer {
  line-height: 1.6rem;
  padding-bottom: 0.75rem;
}

article, main {
  backdrop-filter: blur(4px);
  background-color: var(--transp-white);
  padding: 2rem;
  /*height: 100%;*/
  border-radius: 3rem;
  font-size: 1.4rem;
  line-height: 2rem;

  section
  {
    padding-bottom: 1rem;

    > p > a > svg {
      position: relative;
      bottom: -0.2rem;
    }
  }

  &.about {
    /*&:after {
      content: "";
      display: table;
      clear: both;
    }*/

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0 4rem;
    font-size: 1.2rem;

    section {
      &:first-of-type {
        flex: calc(55% - 3rem);

        h3 {
          text-align: center;
          font-size: 1.8rem;
        }
      }
      + section {
        flex: calc(45% - 3rem);
        margin-left: -2rem;
        padding-left: 2rem;
        border-left: 1px solid var(--light-blue);
      }

      h2 {
        span {
          white-space: nowrap;
        }
      }
    }

    footer {
      color: #999;
    }

    .amazon-author-page {
      text-align: center;
      font-size: 0.9rem;
      line-height: 1.25rem;

      a {
        color: transparent;
        transition: color 1s;
        text-decoration: none;

        &:hover {
          color: rgb(240, 144, 0);
        }
      }

      img {
        margin-top: 1rem;
        max-width: 242px; /* 40.87% */
        width: 100%; /* fit container responsively */
      }
    }

    h2.featured-on {
      margin-bottom: -0.7rem;
    }
    .features {
      display: flex;
      flex: 100%;
      flex-flow: row wrap;
      justify-content: space-between;
      border-bottom: 1px solid var(--light-blue);
      font-size: 1.1rem;

      > p {
        flex: calc(33% - 3rem);
      }

      .hide {
        font-size: 0.001rem;
        line-height: 0;
        color: #fff;
      }
    }

    .mariettesnyman {
      padding-top: 0;
      line-height: 1.75rem;
      color: var(--muted-blue);

      img {
        float: left;
        margin-right: 0.7rem;
        height: 4.7rem;
        margin-top: 0.25rem;
      }
    }

    .boldjourney {
      padding-top: 0;
      line-height: 1.75rem;
      color: var(--muted-blue);

      img {
        float: left;
        margin-right: 0.7rem;
        height: 3rem;
        margin-top: 0.25rem;
      }
    }

    .peronsal-socials {
      margin: 1rem 0;
      text-align: center;

      a {
        padding: 0.25rem;
        margin: 0 0.75rem;

        svg {
          pointer-events: none;
        }
      }
    }

    .founder {
      float: right;
      margin: 2rem 0 0 2rem;
      border-radius: 50%;
      -webkit-shape-outside:circle();
      shape-outside:circle();
      background: url(gdibble.webp);
      background-size: contain;
      width: 12rem;
      height: 12rem;
    }
  }
}

/* Fade-in Related Section */
hr#related {
  margin: 0;
  opacity: 0;
}
hr#related.visible {
  margin-top: var(--hr-margin);
}
hr#related ~ section, hr#related.visible {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

/* Modern tables - https://piccalil.li/blog/styling-tables-the-modern-css-way/ */
.table-scroller {
  overflow-x: auto;
}
table {
	display: table;
  border-spacing: 2px;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: 0;
	caption-side: bottom;
}
thead,
tfoot {
	background: var(--light-blue);
}
tbody tr:nth-child(even) {
	background: color-mix(in srgb, var(--light-blue), transparent 60%);
}
thead {
	border-block-end: 2px solid;
	background: whitesmoke;
  font-weight: bold;
}
thead td {
  text-align: center;
  &:first-child {
    border-top-left-radius: 1rem;
  }
  &:last-child {
    border-top-right-radius: 1rem;
  }
}
tr:last-of-type:not(thead) td {
  &:first-child {
    border-bottom-left-radius: 1rem;
  }
  &:last-child {
    border-bottom-right-radius: 1rem;
  }
}
tfoot {
	border-block: 2px solid;
	background: whitesmoke;
}
th,
td {
	border: 1px solid lightgrey;
	padding: 0.25rem 0.75rem;
}
th,
caption {
	text-align: start;
}
thead th:not(:first-child),
td {
	text-align: end;

  &:last-of-type a {
    white-space: nowrap;
  }
}

footer {
  margin: 0 15%;
}

/* Responsive width iFrame */
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  border-radius: 2rem;
}

.thumbnail {
  height: 68px;
  float: left;
  margin: 4px 8px 0 2px;
  transition: transform .2s;
}
a:hover .thumbnail {
  transform: scale(4);
  position: relative;
  z-index: 1;
}

.listing {
  &.articles {
    a:hover .thumbnail {
      transform: scale(3);
      position: relative;
      z-index: 1;
    }
  }

  li {
    list-style-type: none;
    margin-top: 0.5rem;
    position: relative;    /* It's needed for setting position to absolute in the next rule. */

    &::before {
      content: 'â–';
      position: absolute;
      left: -1.75rem;          /* Adjust this value so that it appears where you want. */
      font-size: 1.5rem;    /* Adjust this value so that it appears what size you want. */
      color: var(--dark-blue);
    }
  }
  p {
    margin: 0.1rem 3rem 0 0.1rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #777;

    &.support {
      margin-top: 1rem;
    }

    small {
      color: #000;
      font-weight: bold;
      font-family: cursive;
      position: relative;
      bottom: 0.15rem;

      svg {
        position: relative;
        top: 0.15rem;
        pointer-events: none;
      }
    }
  }
}
.listing:not(.articles) a:not(.amazon) {
  display: block;
  margin-right: 3rem;
  line-height: 1.6rem;

}

.listing-horizontal {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0 0 2rem;

  li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
  }
}

.listing-columns {
  margin: 0;
  padding: 0;
  column-count: 1;
  list-style-type: none;

  li {
    margin: 0.25em 0;
    margin-left: 1.4em;
    text-indent: -1.35em;
    line-height: 1.25em;

    > a {
      display: block;
      margin-top: 0.5em;

    }
    &.thumbnailed {
      &:not(:first-of-type) > a {
        margin-top: .8335em; /* Roughly the same spacing as other li's */
      }

      > a ~ small {
        display: block;
        margin-left: -1.5em;
        text-indent: 0;

         > small {
          font-family: cursive;
        }
      }
    }
    .thumbnail {
      height: 105px;
      margin-left: -1.3em;

      ~ span {
        margin-left: 1.3em;
      }
    }
    a:hover .thumbnail {
      transform: scale(2);
      position: relative;
      z-index: 1;
    }

    a ~ small > p {
      margin: 0.5em 0 -0.25em 1.2em;
      text-indent: -1.2em;
      font-family: cursive;
    }

    > small > p {
      margin-left: -0.35em;
      text-indent: -1.25em;

      > small {
        margin: 0 0 0 -1.1em;
      }
    }

    > small > p > strong {
      margin-left: 0.2em;
      color: #777;
    }

    svg {
      position: relative;
      bottom: -0.11rem;
    }
  }

  .podcasts {
    display: flex;
    margin: -0.25em 0 0 0;
    justify-content: space-around;
    @media screen and (max-width: 420px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 375px) {
      zoom: 0.9;
    }

    a {
      display: inline;
      white-space: nowrap;

    }
  }

  h3 {
    margin: 0;

    &:not(:first-of-type) {
      margin-top: 1.5em;
    }
  }
}

.contact {
  position: relative;
  top: 0.75rem;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}


@media only screen and (min-width: 600px) {
  .listing-columns {
    column-count: 2;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: calc(100vw - 4rem);
    margin: 0 2rem;
  }
  nav {
    right: 2rem;
  }
  article, main {
    padding: 1rem;

    ul {
      padding-left: 2rem;
    }
  }
  .listing {
    a, p {
      margin-right: 1rem;
    }
    .thumbnail {
      margin-right: 5px;
    }
  }
  .features > p {
    flex: 100% !important;
  }
}

/*.libutton {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 10rem;
  height: 2rem;
  border-radius: 16px;
  background-color: #0A66C2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  font-size: 2rem;
  vertical-align: super;
}*/
